---
# Only the main Sass file needs front matter (the dashes are enough)
---
$bandcamp-color: #fff6fb !default;
$shopping-basket-color: #fff6fb !default;
$keybase-color: #fff6fb !default;
$github-color: #fff6fb !default;
$gitlab-color: #fff6fb !default;
$linkedin-color: #fff6fb !default;
$rss-color: #fff6fb !default;

.author__content a:hover{
    text-decoration: underline;
}

.social-icons {
  .fab-bandcamp {
    color: $bandcamp-color;
  }
  .fa-shopping-basket {
    color: $shopping-basket-color;
  }
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
