---
# Only the main Sass file needs front matter (the dashes are enough)
---
$bandcamp-color: #629aa9 !default;
$shopping-basket-color: #BD4459 !default;

.author__content a:hover{
    text-decoration: underline;
}

.social-icons {
  .fa-bandcamp {
    color: $bandcamp-color;
  }
  .fa-shopping-basket {
    color: $shopping-basket-color;
  }
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
